*/sandbox/*
__pycache__/*
**/__pycache__
.spyproject/*
.Rproj.user
*.Rproj
*.Rhistory
*.pyc
*.DS_Store
*/documentation/*.docx
*/test_big/*
*.log
**/old/*
*/test/training/old/*
*/experiments/*
*/setup/server_cmds.sh
*/setup/server_commands.sh
